{
  :dfence-server {:scheme "http"
                  :port 8080
                  :host "localhost"
                 }

  :api-server {:scheme "http"
               :host "www.simpleweb.org"
               :port 80
               }
}